*{
    margin: 0;
    padding: 0;
}

ul {
    margin: 10px;
    width: 25%;
}

div {
    display: flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    background: #BBADAA;
    padding: 10px;
    justify-content: space-between;
}

 a {
   text-decoration: none; 
   color: black;
   background: #e7e5e0;
   padding: 1px;
} 



