 *{
    margin: 0;
    padding: 0;
}

body {
    background:  #93d9e9;
}

/*
.container {
    display: flex;
    

}*/

.grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100PX;
}

.Card {
    background:white;
    height: 350px;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 20%;

    
}

.Princing-card {
    background:salmon;
    padding: 15px;
    border-radius:5px 5px 0 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-between;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    
    
}

a {
    text-align: center;
    background: hsl(197, 9%, 84%);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    border: 20px solid white;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}


/* a {
    text-decoration: none;
    background:rgb(192, 182, 182);
    border-radius:5px;
    width: 40%;
    padding: 10px 2px 10px 20px;
    margin-bottom:10px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    

} */









/*
body{
    background: #93d9e9;
    margin: 10px;
}

.pric{
    background: #f7f9fa;
    padding: 100px;
    width: auto;
    display: flex; 
}



.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;  
}

.grid{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    height: 100%;
    align-content: center;
    flex-wrap: wrap;
}

.Card{
    background: rgb(255, 255, 255); 
}


h3 {
    background: salmon;
    padding: 40px;
    display: flex;
    align-content: center;
    text-align: center;
    border-radius: 10px;   
}

a {  
    padding: 10px;
    display: block;
    justify-content: center;
    width: 200px;
    border-radius: 10%;
    text-align: center;
} */


