*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    height: 100vh;
    background: rgb(103, 80, 114);
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contenedor{
    background:#c4a0bf;
    padding: 5vh;
}